@{
    ViewBag.Title = "Contact";
}
<h2>Contacter l'administrateur</h2>

<address>
    <span class="glyphicon glyphicon-user"></span> Wenger Thomas<br />
    <span class="glyphicon glyphicon-home"></span> 1353 Bofflens<br />
    <span class="glyphicon glyphicon-phone"></span> 078 922 87 **<br />
    <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:wenger.thomas@gmail.com">wenger.thomas@gmail.com</a><br />
</address>

