@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align-last:center">Garden Manager</h1>
    
        <span id ="leaf" class="glyphicon glyphicon-leaf"></span>
    
   
</div>
<div>
    <h1>Bienvenue</h1>
    <p>Ce site propose une solution de gestion de jardin potager. Vous pouvez enregistrer des plantes que vous voulez cultiver ainsi que des tâches nécessaires à leur développement.</p>
</div>