@model GardenManager.Models.t_tache

@{
    ViewBag.Title = "Delete";
}

<h2>Suppression</h2>

<h3>Voulez-vous vraiment supprimer la tâche suivante? </h3>
<div>
    <hr />
    <table class="table table-condensed">
        <tr>
            <th>Nom</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.tacName)</td>
            <td>@Html.DisplayFor(model => model.tacDetails)</td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmer" class="btn btn-default" /> |
            @Html.ActionLink("Annuler", "Index")
        </div>
    }
</div>
